Options -Indexes
RewriteEngine On

# Set default landing page
DirectoryIndex views/auth/login.php

# Redirect all requests to the "views" directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ views/$1 [L,QSA]
